{% extends 'base.html' %}

{% block content %}
<div class='grid'>
    <div class='row' style="margin-top: 50px;">
        <h1>About</h1>
    </div>
    <div class="row" style="margin-top: 50px;">
        <p style="font-size: 22px; line-height: 40px;">This app was born from the frustrating feeling of not knowing what movie to watch. 
            Especially during the global pandemic, we spend more and more time at home, doing 
            our part as responsible citizens by social distancing but feeling so bored. Movies 
            are a great way to pass the time, but sometimes you don't feel like endlessly scrolling
            through Netflix or Hulu, waiting for something to catch your eye.</p>
    </div>
    <div class="row" style="margin-top: 50px;">
        <p style="font-size: 22px; line-height: 40px;">This app allows groups of friends to collaboratively get movie recommendations
        by answering a questionnaire via SMS text. We gauge each person's interests based on their answers to the questions and
        provide a list of suggested movies that the whole group can enjoy.</p>
    </div>
</div>

{% endblock %}