{% extends 'base.html' %}

{% block content %}
<div class='grid'>
    <div class="row mt-5 mb-5 d-flex justify-content-center">
        <h1>Great! You're all set! &#x1F920</h1>
    </div>
    <div class="row">
        <div class="card bg-success" style="width: 18rem; margin: auto;">
            <div class="card-body">
                <h5 class="card-title text-center">Here is your code:</h5>
                <h1 class="card-text text-center" style="font-size: 70px;">{{code}}</h1>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="margin-top: 50px;">
        <h3 class='text-center'>Have everyone, including you, text this code to</h3> 
    </div>
    <div class="row d-flex justify-content-center" style='color: red;'>
        <h2 class='text-center'>1 (202) 918-4410</h2> 
    </div>
    <div class="row mb-5 d-flex justify-content-center">
        <h3 class='text-center'>to start the movie recommending process.</h3> 
    </div>
</div>

{% endblock %}