{% extends 'base.html' %}

{% block content %}
<div class='grid'>
    <div class="row d-flex justify-content-center" style="margin-top: 150px;">
        <h2 class='text-center'>You and your friends don't know what movie to watch?</h2>
    </div>
    <div class="row mb-5 d-flex justify-content-center">
        <h2 class='text-center'>We got you. &#x1F4AF</h2>
    </div>
    <div class="row d-flex justify-content-center" style="margin-top: 50px;">
        <a class="btn btn-lg btn-dark" href='start'>Let's Get Started!</a>
    </div>
</div>

{% endblock %}